<div class="header-container">
    <a routerLink="/dashboard" class="logo-container"><img src="../../assets/icons/logo.svg" alt="" /></a>
    <div class="search-container">
        <img class="search-icon" src="../../assets/icons/search-icon.svg" alt="" />
        <input  placeholder="Search..." [(ngModel)]="searchText" (change)="handleSearch()"/>
    </div>
    <div class="profile-section">
        <img class="chat" src="../../assets/icons/chat-icon.svg" alt="" />
        <div class="notification">
            <img src="../../assets/icons/notification-icon.svg" alt="" />
            <span>6</span>
        </div>
        <div class="profile">
            <img src="../../assets/icons/avatar.svg" alt="" />
            <label>X’eriya Ponald</label>
            <img src="../../assets/icons/arrow-down-icon.svg" alt="" />
        </div>
    </div>
</div>
