/* ProductListComponent's private CSS styles */

.product-list {
  padding: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h4 {
      font-family: InterBold, Helvetica, sans-serif;
      color: var(--black-color);
      font-size: 24px;
      line-height: 36px;
      margin: 0;
    }

    button {
      background: var(--blue-color);
      color: var(--white-color);
      font-size: 16px;
      line-height: 24px;
      box-shadow: 0;
      border: 0;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      img {
        margin-right: 12px;
      }
      &:hover {
        background-color: var(--pink-color);
      }
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;

    > app-product-item {
      margin-bottom: 40px;
    }
  }
}
